.page-wrapper, html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  padding: 0;
  padding-top: 0;
  text-align: center;
  background-color: brown;
  display: flex;
  flex-direction: row;
}

.page-wrapper h2{
  padding: 2%;
}

button{
  background-color: bisque;
  color: crimson;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bolder;
  padding: 1em;
  border: 5px solid goldenrod;
  border-radius: 8px;
}

.menu-wrapper{
  flex-grow: 1;
}

.eas-wapper{
  display: grid;
  margin: 0;
  padding: 1%;
  background-color: burlywood;
  flex: 7;
  height: 95%;
}

.eas-boxes{
  margin: 0;
  padding: 0;
  background-color: rgb(2, 2, 1);
  height: 100%;
}

.touched{
  background-color: crimson;
}